# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fbe6ecd83c8eefbfc3f5f47f025352f0ca34c4bf32a330926802747c0ca7e23fdb0ee48f6bdbea72b7ff272d4575d7e06c825f851a5ad36991776fcadaeabc5c

test:
  secret_key_base: 2fe6f583f705b63167718ceecb324a3eea1be221d18ea71e2ad713eec9d1bcf3e80f5539ac7924da5ce47036cdc52447c8c11514758695243b12af5951cbab24

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
